* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  border-top: 2rem solid #79ac78;
  background-color: #bfd8af;
}

header {
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 80px;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  float: left;
  margin-top: 50px;
  padding: 2px 10px;
}

nav ul li a {
  color: #777;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 7px;
  padding: 5px 7px;
}

nav ul li a:hover {
  background-color: #79ac78;
  transition: 0.5sec ease-in-out;
}

nav ul li a.active {
  background-color: #79ac78;
}

h1,
h2 {
  color: #79ac78;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: montserrat;
}

section ul li {
  list-style-type: square;
}

main {
  margin: 7px 10px;
  width: 90%;
  cursor: pointer;
}

section {
  padding: 15px 10px;
}

.portfolio-item2 {
  padding: 10px 8px;
}

.img1 {
  box-shadow: 5px 5px 10px #777;
}

.img1 {
  border-radius: 10%;
}

.img2 {
  box-shadow: 5px 5px 10px #777;
}

.img2 {
  border-radius: 10%;
}

p {
  font-size: 15px;
  font-family: sans-serif;
  color: #777;
}

footer p {
  font-size: 15px;
  margin-top: 20px;
  background-color: #79ac78;
  color: #d4e7c5;
  text-align: center;
  padding: 1rem;
}

/* Media queries for responsive design */

@media screen and (max-width: 768px) {
  nav ul li {
    display: block;
    float: none;
    margin-top: 0;
  }
  main {
    width: 100%;
  }
  .info {
    margin-top: 2rem;
  }
}
